@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'museo-sans-500';
    src: url(../assets/fonts/MuseoSans_500.otf);
}

@font-face {
    font-family: 'museo-sans-100';
    src: url(../assets/fonts/MuseoSans-100.otf);
}

* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    outline: none;

    scroll-behavior: smooth;
    
    scroll-margin-top: 82px;
    
}
