section#home {

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../assets/img/Barraca-Lareira.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh; /* 100% da altura da viewport */

    margin-top: 82px;

}

section#home div.shadow {

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    background: rgba(0, 0, 0, 0.5);

    width: 100vw;
    height: 90vh;

    padding: 5rem;

}

section#home div.shadow div.conteudo {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    flex-direction: column;

    text-align: left;

    width: 500px;
    height: 250px;

}

section#home div.shadow div.conteudo h1 {

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3rem;

    color: white;

}

section#home div.shadow div.conteudo p {

    font-family: 'Montserrat';
    font-weight: 500;

    font-size: 1.2rem;

    color: white;

}

section#home div.shadow div.conteudo button {

    background: #FF8200;
    color: white;
    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2rem;

    border: none;
    border-radius: 10px;

    padding: 1rem 2rem;

    cursor: pointer;

}

section#home div.shadow div.conteudo button:hover {

    background: #eb871c;

}

@media (max-width: 1080px) {

    section#home {

        height: 100vh;
    
    }

    section#home div.shadow {

        align-items: flex-start;
        justify-content: center;
    
        height: 100vh;
    
    }

    section#home div.shadow div.conteudo {

        align-items: center;
    
    }

    section#home div.shadow div.conteudo h1,
    section#home div.shadow div.conteudo p {

        text-align: center;

    }

}

@media (max-width: 720px) {

    
    section#home div.shadow div.conteudo h1 {
    
        font-weight: 700;
    
        font-size: 2rem;
    
    }

    section#home div.shadow div.conteudo p {
    
        font-size: 1rem;
    
    }

}
