section#inscricao {

    display: flex;
    align-items: center;

    flex-direction: column;

    padding: 0 2rem;

}

section#inscricao p.titulo {

    color: #003366;

    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;

    text-align: center;
    text-shadow: 0 0 10px white;

    padding: 1rem 0;

}

section#inscricao p.optionSleep {

    font-family: 'Montserrat';

    margin-bottom: 1rem;
    
    text-align: center;

}

section#inscricao section.gridOptions {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 10px;

}

section#inscricao section.gridOptions section.dormitorios {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    flex-direction: column;
    
    width: 500px;
    height: 100%;

    border: 1px solid #FF8200;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

section#inscricao section.gridOptions section.dormitorios p.tituloOptions {

    background: #FF8200;
    color: white;
    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2rem;

    text-align: center;

    border: none;
    
    width: 100%;
    
    padding: 0.5rem 1rem;

}

section#inscricao section.gridOptions section.dormitorios div.conteudo p {

    font-family: 'Montserrat';
    font-weight: 500;

    text-align: justify;
    text-indent: 2rem;

    padding: 1rem;

}

section#inscricao button {

    background: #FF8200;
    color: white;
    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2rem;

    border: none;
    border-radius: 10px;

    margin-top: 1rem;
    padding: 1rem 2rem;

    cursor: pointer;

}

section#inscricao button:hover {

    background: #eb871c;

}

@media (max-width: 1150px) {

    section#inscricao section.gridOptions section.dormitorios {
     
        width: 300px;
    
    }    

}

@media (max-width: 720px) {

    section#inscricao section.gridOptions section.dormitorios {
     
        width: 100%;
    
    }
    
    section#inscricao section.gridOptions {

        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: column;
    
    }

}
