section#localizacao {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 3rem 2rem;

}

section#localizacao div.endereco {
    
    display: flex;
    align-items: center;

    flex-direction: column;

    height: 400px;

}

section#localizacao div.endereco p.titulo {

    color: #003366;

    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;

    text-align: center;
    text-shadow: 0 0 10px white;

    padding: 1rem 0;

}

section#localizacao div.endereco p {

    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 500;

    text-align: justify;
    text-shadow: 0 0 10px white;
    text-indent: 2rem;

}

section#localizacao iframe {

    border-radius: 20px;

    border: 100px solid #003366;
    
    width: 700px;
    height: 400px;

}
