section#sobre {

    height: 100vh;

}

section#sobre p.titulo {

    background: #FFD300;
    color: white;

    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: 700;
    
    text-align: center;
    text-shadow: 0 0 10px black;

    padding: 1rem 0;

}

section#sobre section.conteudo {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2rem 11rem;

}

section#sobre section.conteudo section.esquerda h1 {

    color: #003366;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5rem;

}

section#sobre section.conteudo section.esquerda section.textos p.pConecte {

    width: 600px;
    
    margin: 1rem 0;

}

section#sobre section.conteudo section.esquerda section.textos p {

    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 400;

}

section#sobre section.conteudo section.esquerda section.textos div.bloco {

    display: flex;
    align-items: center;

    margin-bottom: 3rem;

}

section#sobre section.conteudo section.esquerda section.textos div.bloco i {

    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFD300;
    color: white;

    font-size: 2rem;
    
    border-radius: 5px;

    width: 70px;
    height: 70px;

    margin-right: 1rem;

}

section#sobre section.conteudo section.esquerda section.textos div.bloco div.texto {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    flex-direction: column;

    width: 500px;
    height: 60px;

}

section#sobre section.conteudo section.direita img.img_vertical {

    height: 395px;

    border-radius: 50px;

}

section#sobre section.conteudo section.direita img.img_horizontal {

    display: none;

    width: 600px;

    border-radius: 50px;

}

@media (max-width: 1250px) {

    section#sobre section.conteudo {
    
        padding: 2rem 5rem;
    
    }

}

@media (max-width: 1080px) {

    section#sobre  {
    
        height: max-content;        
    
    }
    
    section#sobre section.conteudo {
    
        flex-direction: column;
    
    }

    section#sobre section.conteudo section.direita img.img_vertical {

        display: none;
    
    }
    
    section#sobre section.conteudo section.direita img.img_horizontal {
    
        display: block;

        margin-top: 2rem;
    
    }

}

@media (max-width: 720px) {

    section#sobre section.conteudo section.esquerda h1 {
    
        font-size: 1.3rem;
    
    }

    section#sobre section.conteudo section.esquerda section.textos p.pConecte {
    
        width: 400px;
    
    }

    section#sobre section.conteudo section.esquerda section.textos div.bloco div.texto {
    
        width: 300px;
    
    }

    section#sobre section.conteudo section.esquerda section.textos div.bloco div.texto {
     
        height: 95px;

    }

    section#sobre section.conteudo section.direita img.img_horizontal {
    
        width: 400px;
    
    }

    section#sobre section.conteudo section.esquerda section.textos div.bloco i {
     
        height: 95px;

    }

}
